CP_USER={{ couchpotato_daemon_user }}
CP_HOME={{ couchpotato_app_src_directory }}
CP_DATA={{ couchpotato_app_data_directory }}/config
CP_PIDFILE={{ couchpotato_app_pid_file }}
CP_OPTS="{{ couchpotato_daemon_extra_args }}"
